/* Import police */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* variables */
:root {
    --white: white;
    --dark-30: rgba(0, 0, 0, 0.3);
    --grey-50: rgba(233, 233, 233, 0.5);
    --blue: #0E143C;
    --blue-light: #179de9;
    --blue-dark: #00507c;
    --pink-light: #F1C6D7;
    --red-50: rgba(255, 0, 0, 0.5);
}

/* degradé rose clair et bleu */
body {
    margin: 0;
    background: linear-gradient(to right, var(--blue), var(--pink-light));
    background-position: center;
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color .3s;
}

a:hover {
    color: var(--grey-50) !important;
    transition: color .3s;
}

/* nav */
.container-nav {
    /* background-color: green; */
    /*  display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    margin: 0 2.4rem 0 2.4rem; */
}

.container-nav nav ul {
    list-style: none;
    display: flex;
}

.container-nav nav ul li a {
    text-decoration: none;
    padding: 0.2rem 0.9rem;
    color: var(--white);
    transition: color .3s;

}

.img-logo {
    max-width: 130px;
}

.link-signup {
    border: 1px solid white;
    border-radius: 50px;
}

/* main */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: orange; */
    position: relative;
}

.container-img-card{
    /* background-color: green; */
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card-left{
    position: absolute;
    left: 0;
    width: 180px;
}

.img-card-midle{
    /* position: absolute; */
    z-index: 1;
    width: 220px;

}

.img-card-right{
    position: absolute;
    right: 0;
    width: 180px;

}

/* footer */
.container-footer {
    text-align: center;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: space-around;
}

.container-footer nav ul {
    /*  background-color: green; */
    display: flex;
    gap: 1.1rem;
    list-style: none;
}

.container-footer nav ul li a {
    color: var(--white);
    text-decoration: none;
}